:host {
  display: block;
  height: fit-content;
  width: 100%;
  border: 1px solid silver;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

// .gantt-container {
//   overflow-y: auto;
//   overflow-x: hidden;
//   position: absolute;
//   left: -24px;
//   right: -24px;
//   top: 0;
//   bottom: 0;
// }

// .gantt-scrollable {
//   min-height: 100%;
//   width: 100%;
// }

.gantt-unit-control {
  display: flex;
  gap: 8px;
  position: fixed;
  right: 8px;
  bottom: 8px;
}

.gantt-scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
  // position: absolute;
  height: fit-content;
  max-height: 100%;
  width: 100%;
}

.gantt-container {
  // position: relative;
  height: fit-content;
  // overflow-y: auto;
  // overflow-x: hidden;
  // height: 100%;
  width: 100%;
}

.gantt-canvas {
  // position: absolute;
  // top: 0;
  // left: 0;
  height: 100%;
  width: 100%;
}
